body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    max-width: 400px;
    margin: 10hv auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1)s;
}